h1{
  color :white;
}
body {
    background:url("https://i.pinimg.com/736x/33/84/ef/3384ef93340a13eb276ac298d9dfcd6c--social-issues-art-projects-ap-art-concentration.jpg");
p {

  font-family: "Arial";
    margin: 25px 50px 75px;
}

h1 {
    text-align: center;
}
